@{
    ViewData["Title"] = "Home";
}
<script src="~/js/jquery-3.6.0.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css?v=2" rel="stylesheet" />

<div style="margin-left: 100px">
    <div class="card text-center shadow-lg" style="height: 34rem; width: 18rem; float: left; margin-right: 25px">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/1006/1006619.png" alt="Card image cap">
        <h4 class="card-header">Students</h4>
        <div class="card-body">
            <h5 class="card-title">Student Management:</h5>
            <p class="card-text">Add/Edit/Delete student information as well as assign 'Modules' to a student</p>
            <a href="Students" class="btn btn-primary" style=" border-color: #a778ab">Go --></a>
        </div>
    </div>
    <div class="card text-center shadow-lg" style="height: 34rem; width: 18rem; margin-right: 25px; float: inline-start">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/1006/1006645.png" alt="Card image cap">
        <h4 class="card-header">Teachers</h4>
        <div class="card-body">
            <h5 class="card-title">Staff Management:</h5>
            <p class="card-text" style="padding-bottom:24px">Manage your staffs details. Assign Teachers to 'Modules' etc.</p>
            <a href="Teachers" class="btn btn-primary" style=" border-color: #a778ab ">Go --></a>
        </div>
    </div>
    <div class="card text-center shadow-lg" style="height: 34rem; width: 18rem; float: none">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/1006/1006636.png" alt="Card image cap">
        <h4 class="card-header">Modules</h4>
        <div class="card-body">
            <h5 class="card-title">Module Management:</h5>
            <p class="card-text" style="padding-bottom:24px">Create/Edit/Delete Modules and view Module details.</p>
            <a href="Modules" class="btn btn-primary" style=" border-color: #a778ab">Go --></a>
        </div>
    </div>
</div>
