<script src="~/Scripts/Teacher/TeacherSummary.js"></script>
<div class="row">
    <div class="col-12">
        <h4>Summary of all Teachers</h4>
        </div>
    <div class="col-md-12">
        <button class="btn btn-success" id="btnAdd" style="float:right">Add Teacher</button>
        <table class="table table-striped" id="Table">
            <thead>
                <tr>
                    <th>TeacherId</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>DateBegan</th>
                    <th>DepartmentId</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        </div>
    </div>
