
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/Module/Module.js"></script>

<div id="divDetails" style="display:none">
    @Html.Partial("ModuleDetails")
</div>

<div id="divSummary">
    @Html.Partial("ModuleSummary")
</div>
