
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/Teacher/Teacher.js"></script>

<div id="divDetails" style="display:none">
    @Html.Partial("TeacherDetails")
</div>

<div id="divSummary">
    @Html.Partial("TeacherSummary")
</div>
