
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Student/Student.js"></script>

<div id="divDetails" style="display:none">
    @Html.Partial("StudentDetails")
</div>

<div id="divSummary">
    @Html.Partial("StudentSummary")
</div>
