
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Module/Module.js"></script>

<div id="divDetails" style="display:none">
    @Html.Partial("ModuleDetails")
</div>

<div id="divSummary">
    @Html.Partial("ModuleSummary")
</div>
