
<script src="~/Scripts/Module/ModuleSummary.js"></script>
<div class="row">
    <div class="col-12">
        <h4>Summary of all Modules</h4>
        </div>
    <div class="col-md-12">
        <button class="btn btn-success" id="btnAdd" style="float:right">Add Module</button>
        <table class="table table-striped" id="Table">
            <thead>
                <tr>
                    <th>ModuleId</th>
                    <th>ModuleCode</th>
                    <th>ModuleDescription</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        </div>
    </div>
